<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.clangen.gfx.plasma"
    android:installLocation="auto" >

    <application
        android:icon="@drawable/icon"
        android:theme="@style/DefaultTheme"
        android:label="@string/app_name" >

        <service
            android:label="@string/wallpaper_name"
            android:name=".PlasmaService"
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/plasma" />

        </service>

        <activity
            android:label="@string/settings_activity_title"
            android:name=".SettingsActivity"
            android:theme="@style/DefaultTheme"
            android:exported="true" />

        <activity
            android:label="@string/help_activity_title"
            android:name=".HelpActivity"
            android:theme="@style/DefaultTheme"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

    <uses-feature android:name="android.software.live_wallpaper" />

</manifest>